<!DOCTYPE html>
<html>
<head>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/Site.css" rel="stylesheet" />
    <title>Dashboard</title>
    <meta charset="utf-8" />    
</head>
<body>
    <div ng-app="logDashboard" ng-view>
    </div>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="../../signalr/hubs"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="../../Scripts/underscore.js"></script>
    <script src="../app.js"></script>
    <script src="../models/logDashboardModel.js"></script>
    <script src="../services/logDashboardService.js"></script>
    <script src="../controllers/logDashboardController.js"></script>
</body>
</html>


